<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.reggie.mapper.ShoppingCartMapper">

    <select id="findByDishIdOrSetmealIdWithUserId" resultType="com.itheima.reggie.entity.ShoppingCart">
        select * from shopping_cart where user_id = #{userId} and
        <if test="dishId!=null">
            dish_id = #{dishId}
        </if>
        <if test="setmealId!=null">
            setmeal_id = #{setmealId}
        </if>
    </select>
</mapper>